.container {
  display: inline-block;
  position: relative;
}

.side_items {
  padding: 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  color: darkgrey;
}

.side_items:hover {
  color: white;
}

.side_menu {
  position: absolute;
  background-color: white;
  left: 3.5rem;
  top: 1.5rem;
}
