.container {
  display: inline-block;
  position: relative;
}

/* Icons */

.icons {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  color: darkgrey;
}

.icon_container {
  padding: 1rem;
}

.icons:hover {
  color: white;
}

.icon_active {
  color: white;
}

/* Side Menu */

.side_menu {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: max-content;
  padding: 0.5rem;
  left: 4rem;
  top: 1.3rem;
}

.side_menu_header {
  text-align: center;
}

.side_menu_item {
  cursor: pointer;
  font-size: 0.9em;
  padding: 0.4em;
  font-weight: bold;
}

.side_menu::after {
  content: ' ';
  position: absolute;
  top: 10%;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
