.accordian_container {
  border-bottom: 2px solid red;
  width: 100%;
}

.accordian_header {
  padding: 0.6em;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.accordian_links {
  padding: 0.6em;
  padding-left: 1em;
  cursor: pointer;
  font-weight: 600;
  color: darkgrey;
  animation: accordianGrow 0.3s ease-out;
  color: white;
}

@keyframes accordianGrow {
  from {
    transform: scaleY(0);
    transform-origin: top right;
  }
  to {
    transform: scaleY(100%);
    transform-origin: top right;
  }
}
