.accordian_header {
  padding: 0.4em;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.accordian_links {
  padding: 0.3em;
  padding-left: 1em;
  cursor: pointer;
  font-weight: 600;
  color: darkgrey;
  animation: accordianGrow 0.3s ease-out;
  color: white;
}

@keyframes accordianGrow {
  from {
    transform: scaleY(0);
    transform-origin: top right;
  }
  to {
    transform: scaleY(100%);
    transform-origin: top right;
  }
}
