/* Main Layout */
@media screen and (min-width: 769px) {
  .main {
    display: grid;
    grid-template-columns: max-content auto;
  }

  .top_nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .side_bar {
    display: none;
  }

  .side_bar_icons {
    display: none;
  }
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
}

.app_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sidebar */
.side_bar {
  width: auto;
}

.side_bar_icons {
  width: auto;
}
