/* Main Layout */
@media screen and (min-width: 769px) {
  .main_with_sidebar {
    display: grid;
    grid-template-columns: 12em auto;
  }

  .main_small_sidebar {
    display: grid;
    grid-template-columns: 4em auto;
  }

  .top_nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .side_bar {
    display: none;
  }

  .side_bar_icons {
    display: none;
  }
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Sidebar */
.side_bar {
  width: 12em;
}

.side_bar_icons {
  width: 4em;
}
