/* Main Layout */
@media screen and (min-width: 769px) {
  .main_with_sidebar {
    display: grid;
    grid-template-columns: 12em auto;
  }

  .main_small_sidebar {
    display: grid;
    grid-template-columns: 4em auto;
  }
  .top_nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

/* Content and HEader */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Sidebar */
.side_bar {
  width: 12em;
  animation: sidebarIn 3s ease-in;
}

.side_bar_icons {
  width: 4em;
  animation: sidebarOut 3s ease-out;
}

@media screen and (max-width: 768px) {
  .side_bar {
    display: none;
  }

  .side_bar_icons {
    display: none;
  }
}

@keyframes sidebarOut {
  from {
    transform: scaleX(12em);
  }
  to {
    transform: scaleX(4em);
  }
}
