@media only screen and (max-width: 768px) {
  .side_bar_menu {
    display: none;
  }
}

.header_home {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0.5em;
  width: inherit;
  border-bottom: black 1px solid;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  margin-bottom: 2em;
}

.right_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.mid_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

/* header links */

.header_link {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 1.2em;
}

.header_link {
  position: relative;
}

.header_link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.header_link:hover::before {
  visibility: visible;
  width: 100%;
}

.header_link_active {
  position: relative;
}

.header_link_active::before {
  content: '';
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: visible;
  width: 100%;
}

.side_bar_menu {
  font-size: 1.5rem;
  padding: 0.2rem;
}

/* Set Mobile Elements to None */
.menu_icon {
  display: none;
}

.mobile_logo {
  display: none;
}

/* Search */
.search_box {
  display: flex;
  margin-left: 3rem;
}

.search_icon {
  margin-top: 0.2em;
  font-size: 1.5em;
}

.search {
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 1em;
}

.login_button {
  border: none;
  padding: 0.6em 1.3em 0.6em 1.3em;
  margin: 0.5em;
  margin-right: 2em;
  text-decoration: none;
  background-color: orangered;
  color: white;
  font-weight: 900;
}

/* header photo */
.header_photo {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.header_photo_wrap {
  display: inline-block;
  position: relative;
}

.account_dropdown {
  position: absolute;
  top: 2.8rem;
  left: -2.5rem;
  border: 1px solid grey;
  background-color: white;
  color: grey;
}

.account_dropdown_item {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.account_dropdown_item:hover {
  color: black;
  background-color: aliceblue;
}

.account_dropdown::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 70%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
