/* Side Nav */

.side_drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: black;
  position: fixed;
  width: inherit;
  min-height: 100vh;
  animation: grow 0.4s linear;
}

@keyframes grow {
  from {
    width: 12em;
  }
  to {
    width: 4em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.side_items_settings:hover {
  color: white;
}

.side_items_settings {
  padding: 1em;
  cursor: pointer;
  font-size: 1.2em;
  color: darkgrey;
  margin-top: auto;
  margin-bottom: 2rem;
}

.app_logo {
  padding: 1em;
  align-self: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
