/* Side Nav */

.side_drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: black;
  position: sticky;
  min-height: 100vh;
  width: var(--side-bar-icon-length);
  animation: shrink 0.4s linear;
}

.side_items_settings:hover {
  color: white;
}

.side_items_settings {
  padding: 1em;
  cursor: pointer;
  font-size: 1.2em;
  color: darkgrey;
  margin-top: auto;
  margin-bottom: 2rem;
}

.app_logo {
  padding: 1em;
  align-self: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

@keyframes shrink {
  from {
    width: var(--side-bar-full-length);
  }
  to {
    width: var(--side-bar-icon-length);
  }
}
